{
  "configuration": {
  	"servers":"%STAND%",
  	"connectionStrings":"%DB_JDBC%",
      "add": { 
          "name:"%DB_NAME%",
          "connectionString Data Source":"%DB_JDBC%",
          "Persist Security Info":true
      }
  },
  "connectionStrings":null
}
