<?xml version="1.0"?>
<configuration>
	<servers>%STAND%</servers>
	<connectionStrings>
    <add 
        name="%DB_NAME%" 
        connectionString="Data Source=%DB_JDBC%;
        Persist Security Info=True;
        User Id=%DB_USER%;
        Password=%DB_PASS%" 
    />
  </connectionStrings>
</configuration>
