hookugsql 
{
	connectivity
	{
		"MYORG" 
		{
			connectionString		= "%dbJDBC%"
			driver 					= "oracle.jdbc.driver.OracleDriver" 
			oracle 
			{
				schema 				= "TRANSACT"
				password 			= "%PASS_TRANSACT%"
			}	
		}
	}
	errorHandling 
	{
		strictMappings				= false
	}
	interfaces 
	{
		"ParseSMArrays" 
		{
			storedProcedureName		= "MORTGAGE2.ParseSMArrays"
			dsn						= "MYORG"
			simulation				= false
		}
		"ParseSMArraysGl" 
		{
			storedProcedureName		= "MORTGAGE.ParseSMArrayGlobal"
			dsn						= "MYORG"
			simulation				= false
		}
		"CreateStopListArrays" 
		{
			storedProcedureName		= "MORTGAGE2_CALLS.CreateStopListArrays"
			dsn						= "MYORG"
			simulation				= false
		}
		"UpdMAInApp" 
		{
			storedProcedureName		= "MORTGAGE.UpdMAInApp"
			dsn				= "MYORG"
			simulation			= false
		}
		"ClearReqStatuses" 
		{
			storedProcedureName	= "MORTGAGE2_CALLS.ClearRequestStatuses"
			dsn						= "MYORG"
			simulation				= false
		}
		"ResetNewPartFlag" 
		{
			storedProcedureName	= "MORTGAGE2_CALLS.ResetNewParticipantFlags"
			dsn						= "MYORG"
			simulation				= false
		}
		"LPRInfo" 
		{
			storedProcedureName		= "LPR.GetLPRInfo"
			dsn						= "MYORG"
			simulation				= false
		}
		"LPROperation" 
		{
			storedProcedureName		= "LPR.DoOperation"
			dsn						= "MYORG"
			simulation				= false
		}
		"LPRLastOper" 
		{
			storedProcedureName		= "LPR.GetLastOperInfo"
			dsn						= "MYORG"
			simulation				= false
		}
		"ResetUWNewFlags" 
		{
			storedProcedureName		= "MORTGAGE2_CALLS.ResetUWNewFlags"
			dsn						= "MYORG"
			simulation				= false
		}
		"GetContrFlags" 
		{
			storedProcedureName		= "MORTGAGE2.GetContragentFlags"
			dsn						= "MYORG"
			simulation				= false
		}
		"GetObjectFlags" 
		{
			storedProcedureName		= "MORTGAGE2.GetObjectFlags"
			dsn						= "MYORG"
			simulation				= false
		}

		"ObjChangOnUW1" 
		{
			storedProcedureName		= "MORTGAGE2.GetObjectsChangeOnUW123"
			dsn						= "MYORG"
			simulation				= false
		}
		"DoSnapshot" 
		{
			storedProcedureName		= "CHANGE_INDICATION.MAKE_SNAPSHOT"
			dsn						= "MYORG"
			simulation				= false
		}
		"IsOCRAvailable" 
		{
			storedProcedureName		= "PHOTOALBUM.IsOCRAvailable"
			dsn						= "MYORG"
			simulation				= false
		}
		"MGPreSaveObjects" 
		{
			storedProcedureName		= "MORTGAGE.PreSaveObjects"
			dsn						= "MYORG"
			simulation				= false
		}
		"MovedNotRespsblM" 
		{
			storedProcedureName		= "CUSTOMPROCS.MovedNotRespsblMessage"
			dsn						= "MYORG"
			simulation				= false
		}
		"NotAvailableDeni" 
		{
			storedProcedureName		= "CUSTOMPROCS.SetNotAvailableDenial"
			dsn						= "MYORG"
			simulation				= false
		}
		"SM8ChkSpouseResp" 
		{
			storedProcedureName		= "CUSTOMPROCS.CheckSpouseNotRespC8"
			dsn						= "MYORG"
			simulation				= false
		}

		"LoadTempSmeta" 
		{
			storedProcedureName		= "MORTGAGE.LoadTempSmeta"
			dsn						= "MYORG"
			simulation				= false
		}
        "NeedDelHistKontr"
		{
			storedProcedureName		= "MORTGAGE2.NeedDelHistKontr"
			dsn						= "MYORG"
			simulation				= false
		}
		"CPSmetaToRemList"
		{
			storedProcedureName		= "MORTGAGE.CopySmetaToRemoteList"
			dsn						= "MYORG"
			simulation				= false
		}
		"FillPhoneCheckAr"
		{
			storedProcedureName		= "MORTGAGE2.Fill_PhoneCheck_array"
			dsn						= "MYORG"
			simulation				= false
		}
		"ClearExtCallsFor"
		{
			storedProcedureName		= "MORTGAGE2.ClearExtCallsForPartyOrContr"
			dsn						= "MYORG"
			simulation				= false
		}
	}
}

